* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #fff;
    min-height: 100%;
    display: block;
}

form {
    margin: 0px 5px 0px 5px;
}

h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.container {
    max-width: 380px;
}

#logoRow {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;
}

#logoImg {
    width: 110px;
}

#inputEmail {
    border-color: rgb(158, 158, 158);
    max-height: 30px;
}

input[type=email]:focus {
    outline: none;
    border-color: rgb(255, 189, 114);
    box-shadow: 0 0 0 2px rgb(255, 189, 114);
}

#submitSignin {
    background-image: linear-gradient(rgb(245, 220, 153), rgb(242, 202, 88));
    max-height: 30px;
    font-size: small;
    border-color: rgb(146, 126, 65);
}

#submitSignin:hover {
    background-image: linear-gradient(rgb(245, 220, 90), rgb(242, 202, 88));
}

#needHelp h12{
    color: gray;
    font-size: xx-small;
    align-self: center;
}

hr.hr-text {
    position: relative;
    border: none;
    height: 0.5px;
    background: lightgray;
    margin-top: 30px;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-size: 0.78rem;
    color: gray;
    border-radius: 30rem;
    padding: 0.2rem 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#createAcct {
    background-image: linear-gradient(rgb(247, 248, 250),rgb(235, 236, 240));
    max-height: 30px;
    font-size: small;
    border-color: rgb(164, 165, 169);
}

#createAcct:hover {
    background-image: linear-gradient(rgb(235, 236, 236), rgb(203, 204, 205))
}

.astrodivider {
    margin: 28px 10px;
    width: 400px;
    max-width: 100%;
    position: relative;
}

.astrodividermask {
    overflow: hidden;
    height: 10px;
}

.astrodividermask:after {
    content: '';
    display: block;
    margin: -25px 0 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/ 12px;
    box-shadow: 0 0 8px lightslategray
}

.row {
    margin-top: -10px;
    font-size: 12px;
}